BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4
IndentCaseLabels: false
NamespaceIndentation: None

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false

AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false

AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BinPackArguments: false
BinPackParameters: AlwaysOnePerLine
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: CurrentLine

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer
SortIncludes: Never
IncludeBlocks: Preserve
SortUsingDeclarations: Never
FixNamespaceComments: false
ReflowComments: Never
